/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  height: 100%;
  background: #fafafa!important;
}

.container {
  max-width: 1000px;
}

.navbar {
  background: #fff;
  border-color: rgba(0, 0, 0, .05);
}

a.user_name {
    color: #777777;
}

caption {
    font-weight: bold;
}

td {
    vertical-align: middle !important;
}

a.user_name {
    color: #777777;
}

.report_content,
.comment_content{
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.report_time,
.comment_time{
    width: 150px;
}

.time-select {
    width: auto;
    display: inline-block;
}

.question-a {
    color: #333333;
}

#preview {
    min-height: 200px;
}

.user_list {
    padding-left: 0px;
    list-style: none;
    li {
    	margin-bottom: 5px;
	.gravatar {
	    padding-right: 8px;
	}
    }
}

.user-form{
    width: 300px;
}

textarea {
    resize: none;
}

.index-links a{
    color: black;
}

.report_list {
  .report_element {
    border-radius: 3px;
    padding: 20px 25px;
    background-color: #fff;
    margin-top: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    width: 100%;
    display: block;
    word-wrap:break-word;


    .user_icon {
      width: 40px;
      height: 40px;
      float: left;
    }

    .report_header {
      margin-left: 49px;
      height: 50px;

      .report_user_name {
        color: #02b875;
      }

      .report_time {
        font-size: 12px;
        color: #777
      }
    }

    .report_content {
      height: 100px;
      overflow:hidden;
      color: #222;
    }
  }
}
